{{template "base" .}}

{{define "content"}}
    

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Welcome to the Room2 of Bookings Application</h1>
                
                <!-- <a href="/about">About page </a> -->
                <!-- <img src="/static/images/coffe2.jpg" height="100%" width="100%"> -->
                


            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            </div class="col">
            <p>
                Experience tranquility in our 3-star hotel's second room option, where modern comfort and affordability blend seamlessly. Unwind in a room furnished with twin beds, complete with soft linens for a peaceful night's sleep. Stay connected using our complimentary high-speed Wi-Fi, and catch up on your favorite shows on the flat-screen TV. The room also boasts a compact writing desk, providing a space for work or personal tasks. Refresh in the private bathroom, equipped with modern amenities and complimentary toiletries. Whether you're traveling for business or leisure, our second room offers a welcoming atmosphere and all the conveniences you need for a pleasant stay in our value-driven hotel.
            </p>
                <img src="/static/images/hotel2.jpg" class="img-fluid img-thumbanail mx-auto d-block room-style" alt="room image">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5">
            </div class="col">
                <img src="/static/images/hotel4.jpg" class="img-fluid img-thumbanail mx-auto d-block room-style" alt="room image">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col text-center mt-4">
            <a id = "checkrButton" href="#!" class="btn btn-success"> Check Availability</a>
        </div>
    </div>

    
{{end}}


{{define "js"}}
<script>
    document.getElementById("checkrButton").addEventListener("click",function(){
              // alert("Hello","success");
              modalalert("title","<em>Hello</em>","error","hhhhh");
              // attention.success();
  
              let html = `
              <form id = "check-availability-form" action = "" method = "post" novalidate class= "needs-validation">
                      <div class="form-row">
                              <div class="col">
                                      <div class="form-row" id = "reservation-dates-modal" >
                                          <div class="col">
                                              <p><strong>Arrival</strong></p>
                                              <input required class="form-control" type="date" name="start" id="start" placeholder="Arrival">
  
                                          </div>
                                          <div class="col">
                                              <p><strong>Departure</strong></p>
                                              <input required class="form-control" type="date" name="end" id = "end"  placeholder="Departure">
  
                                          </div>
                                          
                                      </div>
                              </div>
                      </div>
              </form>
              `
    attention.custom({msg: html, title: "Choose your Dates"});
            })
</script>
{{end}}